@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');

@import 'src/style/typography';
@import 'src/style/form';
@import 'src/style/layout';
@import 'src/style/table';

html {
  font-family: 'Montserrat';
  font-size: 20px;
  background: rgb(79,65,202);
  background: linear-gradient(74deg, rgba(79,65,202,1) 0%, rgba(67,84,242,1) 100%); 
}

.hero {
  min-height: 60vh;
  color: white;

  >*:first-child {
    margin-top: auto;
  }

  >*:last-child {
    margin-bottom: 1.5rem;
  }
}

.frosted {
  background: rgba(255, 255, 255, 0.7);
}
