.flex {
  display: flex;

  &--center {
    align-items: center;
  }

  &--column {
    flex-direction: column;
  }
}

.flex-row { }

.mobile-full-width {
  @media(max-width: 767px) {
    width: 95%;
  }
}

.desktop-half-width {
  @media(min-width: 768px) {
    width: 50%;
  }
}
