table {
  width: 100%;
  margin-bottom: 1rem;
}

th {
  text-align: left;
  font-weight: 700;
}

tr {
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  line-height: 2.5rem;
}
