h1 {
  font-size: 3.1875rem; 
  line-height: 2em;
}

h2 {
  font-size: 1.9792rem; 
  line-height: 2em;
}

h3 {
  font-size: 1.4792rem; 
  line-height: 2.2em;
}

h4 {
  font-size: 1.2292rem; 
  line-height: 2.4em;
}

h5 {
  font-size: 1.1042rem; 
  line-height: 2em;
}

h6 {
  font-size: 1rem; 
  line-height: 2em;
}

body {
  font-size: 0.9167rem;
  line-height: 2em;
}

.text-smaller {
  font-size: 0.8em;
}
